html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { 
    height: 100%;
    position: relative; 
    z-index: 1;
}

.logo   {
    color: rgba(255,100,100,0.4);
    z-index: 3;
    margin-top: 0.5%;
    margin-left: 1%;
    font-family: 'Black Ops One', cursive;
    font-size: 4em;
    position: absolute;
}

#message-bar{
    margin-top: 1%;
    color: white;
    font-family: arial;
    font-weight: lighter;
    position: absolute;
    right: 1%;
    z-index: 2;
    background-color: rgba(1,1,1,0.1);
    width: 17.5%;
    text-align: center;
}

.mini-city-overlay img {
    border-radius: 20px;
    box-shadow: 3px 4px 1px #CCA955;
}

.mini-city-overlay h4 {
    font-size: 12px;
    font-weight: lighter;
    color: white;
    margin: 1px;
}

.smallest-city-overlay h4 {
    visibility:hidden;
    margin: 1px;
    font-size: 12px;
    font-weight: lighter;
}

.smallest-city-overlay:hover h4 {
    visibility:visible;
    font-size: 12px;
    font-weight: lighter;
    color: white;
    margin: 1px;
}

.smallest-city-overlay img {
    height: 14px;
    width: 14px;
    border-radius: 20px;
    box-shadow: 1px 1px .5px #CCA955;
}

.big-city-overlay img {
    border-radius: 20px;
}

.big-city-overlay {
    box-shadow: 3px 4px 1px #CCA955;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    min-width: 100px;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#notification-box {
    z-index: 2;
    width: 17.5%%;
    height: 50%;
    right: 1%;
    bottom: 2%;
    position: absolute;
    overflow: scroll;
    color: white;
    font-family: arial;
    font-weight: lighter;
    position: absolute;
    background-color: rgba(1,1,1,0.1);
    text-align: center;
}

#notification-box td {
    text-align: left;
}

table {
    font-size: 12px;
    font-family: arial;
    font-weight: lighter; 
}

.error {
  color: #c0392b;
}

.notice {
  color: #2980b9;
}