html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100% }

.mini-city-overlay img {
    border-radius: 20px;
    box-shadow: 3px 4px 1px #CCA955;
}

.mini-city-overlay h4 {
    font-size: 12px;
    font-weight: lighter;
    color: white;
    margin: 1px;
}

.smallest-city-overlay h4 {
    visibility:hidden;
    margin: 1px;
    font-size: 12px;
    font-weight: lighter;
}

.smallest-city-overlay:hover h4 {
    visibility:visible;
    font-size: 12px;
    font-weight: lighter;
    color: white;
    margin: 1px;
}

.smallest-city-overlay img {
    height: 14px;
    width: 14px;
    border-radius: 20px;
    box-shadow: 1px 1px .5px #CCA955;
}

.big-city-overlay img {
    border-radius: 20px;
}

.big-city-overlay {
    box-shadow: 3px 4px 1px #CCA955;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    min-width: 100px;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered-text
{
    text-align: center;
};

.message-bar
{
    width: 100%;
}

#notification-box {
  background-color: white;
  width:20%;
  height: 15%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.error {
  color: #FF9494;
}

.notice {
  color: lightblue;
}